spring:
  profiles:
    active: dev

---
spring:
  config:
    activate:
      on-profile: dev
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://dpg-d42vssq4d50c73a6aitg-a.oregon-postgres.render.com/poc_db_postgres
    username: rishabh
    password: CgiTRsB0zk7MYz2gAOMd30nuwXF1
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  sql:
    init:
      mode: always
      platform: postgres

# Actuator Configuration
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus,env,loggers,mappings
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true
      group:
        readiness:
          include: db,diskSpace
        liveness:
          include: ping
  info:
    env:
      enabled: true

server:
  port: ${PORT:8080}

---
spring:
  config:
    activate:
      on-profile: prod
  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${DB_URL:jdbc:postgresql://dpg-d42vssq4d50c73a6aitg-a.oregon-postgres.render.com/poc_db_postgres}
    username: ${DB_USERNAME:rishabh}
    password: ${DB_PASSWORD:CgiTRsB0zk7MYz2gAOMd30nuwXF1}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  sql:
    init:
      mode: always
      platform: postgres

server:
  port: ${PORT:8080}

logging:
  level:
    root: INFO
    org.hibernate.SQL: INFO
    org.hibernate.type.descriptor.sql.BasicBinder: INFO
